@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/fonts" as *;

.thankyou {
  background-color: $neutral-white;
  border-radius: 8px;
  padding: 20% 5%;
  margin: 0 5%;
  -webkit-box-shadow: 0px 20px 25px -14px rgba(156, 156, 156, 0.6);
  -moz-box-shadow: 0px 20px 25px -14px rgba(156, 156, 156, 0.6);
  box-shadow: 0px 20px 25px -14px rgba(156, 156, 156, 0.6);
  text-align: center;

  @include desktop {
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 15% 10%;
    margin: 0;
  }

  &__icon {
    height: 5rem;
    width: 5rem;

    @include desktop {
      height: 8rem;
      width: 8rem;
    }
  }

  &__title {
    color: $color-primary-blue;
    font-size: 2.4rem;
    margin-top: 2.4rem;
  }

  &__copy {
    color: $secondary-text-grey;
    font-size: 1.6rem;
    margin: 0;
    line-height: 2.4rem;

    &--bottom {
      margin: 0 5%;
    }
  }
}
