@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/fonts" as *;

.service {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  @include desktop {
    margin-top: 2rem;
  }

  &__name {
    font-size: 1.4rem;
    color: $secondary-text-grey;
  }

  &__price {
    font-size: 1.4rem;
    color: $color-primary-blue;
    font-weight: 500;
  }
}
