@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/fonts" as *;

.step-counter {
  display: flex;
  gap: 1.6rem;
  margin: 3rem 0;
  justify-content: center;

  @include desktop {
    flex-direction: column;
    gap: 3rem;
  }

  &__container {
    display: flex;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $neutral-white;
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;
    @include font-body-copy;
    color: $neutral-white;
    font-weight: 500;

    &--active {
      background-color: $color-count-blue;
      border: none;
      color: $color-primary-blue;
    }
  }

  &__wrapper {
    display: none;
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 1.6rem;
    }
  }

  &__step {
    color: $secondary-text-grey;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__title {
    color: $neutral-white;
    font-size: 1.6rem;
    font-weight: 500;
  }
}
