@use "./variables" as *;
@use "./mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@mixin font-page-header() {
  font-size: 2.4rem;
  color: $color-primary-blue;

  @include desktop {
    font-size: 3.2rem;
  }
}

@mixin font-page-description() {
  font-size: 1.6rem;
  color: $secondary-text-grey;

  @include desktop {
    font-size: 1.8rem;
  }
}

@mixin font-body-copy() {
  font-size: 1.6rem;

  @include desktop {
    font-size: 1.6rem;
  }
}

@mixin font-small-copy() {
  font-size: 1.2rem;

  @include desktop {
    font-size: 1.4rem;
  }
}
