$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Colors

// Primary

$color-primary-blue: #02295a;
$color-purple: #473dff;
$color-count-blue: #bee1ff;
$color-background: #f8f9fe;
$color-error: #ed3548;
$color-selected-border: #524d96;
$color-selected-background: #f8f9fe;

// Neutral

$secondary-text-grey: #9699ab;
$secondary-background-grey: #d6d9e6;
$secondary-background-white: #f0f6ff;
$neutral-alabaster: #fafbff;
$neutral-white: #ffffff;
