@use "./partials/variables" as *;
@use "./partials/fonts" as *;

.App {
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 0 5%;

  &__form {
    width: 100%;
  }

  &__component {
    background-color: $neutral-white;
    border-radius: 8px;
    padding: 2.6rem 5%;
    // width: 100%;
    margin: 0 5%;
  }

  &__button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $neutral-white;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
  }

  &__button {
    background: none;
    color: $neutral-white;
    border: none;
    padding: 1.2rem 0;
    width: 10rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 1.6rem;
    border-radius: 4px;

    &--next {
      background-color: $color-primary-blue;
    }

    &--back {
      color: $secondary-text-grey;
      text-align: left;
    }

    &--confirm {
      background-color: $color-purple;
    }
  }
}
